*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    text-decoration: none;
    list-style: none;
    outline: none;
    transition: all 0.5s;
}

#container{
    display: flex;
    justify-content: center;
}

header{
    top: 0;
    position: fixed;
    width: 75%;
    height: 80px;
    border-radius: 30px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.14);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

header #logo{
    position: absolute;
    left: 40px;
}

header nav ul{
    display: flex;
    gap: 50px;
}

header #menu ul li button{
    border: none;
    background: none;
    cursor: pointer;
    font-family: "Fira Sans", serif;
    font-size: 18px;
    position: relative;
}

header #menu ul li button::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #0ff0ff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s;
}

header #menu ul li button:hover::after{
    width: 75%;
}

main{
    margin-top: 100px;
}