@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: "poppins", serif;
    transition: all 0.5s;
}

body{
    background: #f1f2f1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

img#ManoManooILink{
    position: absolute;
    width: 65px;
    left: 0;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

img#ManoManooILink:hover{
    transform: scale(1.05);
}

main input{
    border: none;
    border-radius: 25px;
    font-size: 1.05rem;
    margin: 15px 5px;
    width: 400px;
    height: 50px;
    padding: 10px 10px;
}

main #inputData button{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background: #00f;
    color: #fff;
    font-weight: bolder;
    font-size: 1.05rem;
    cursor: pointer;
}

main nav{
    width: 50%;
    background: #f2f2f2;
    box-shadow: 0 0 10px rgba(0,0,0,0.14);
    border-radius: 8px;
}

main nav ul li{
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 5px;
    background: #fff;
    border-radius: 5px;
    font-size: 2rem;
}

main nav ul li button{
    position: absolute;
    left: 70%;
    margin: 5px;
    background: none;
    border: none;
    cursor: pointer;
}


main nav ul li #trash1{
    position: absolute;
    transition: transform 0.3s ease;
}

main nav ul li #trash1:hover{
    transform: rotate(-15deg);
}

main nav ul#list li img{
    width: 50px;
}

@media(max-width: 450px) {
    img#ManoManooILink {
        width: 35px;
    }

    main input {
        font-size: 1rem;
        margin: 10px;
        width: 250px;
        height: 25px;
    }

    main #inputData button {
        width: 31px;
        height: 33px;
        font-size: 1rem;
    }

    main nav ul li {
        font-size: 1.08rem;
    }

    main nav ul li button {
        left: 65%;
    }

    main nav ul#list li img {
        width: 35px;
    }
}

@media(max-width: 940px) {
    img#ManoManooILink {
        width: 40px;
    }

    main nav ul#list li img {
        width: 30px;
    }
}