@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --none: none;
    --font1: "Roboto", sans-serif;
    --font2: "M PLUS 1", sans-serif;
    --gradientShape: #061e7c1a;
}

*{
    outline: var(--none);
    list-style: var(--none);
}

button{
    cursor: pointer;
}

html, body{
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: var(--font1);
    background: #050b22;
}

header{
    width: 100%;
    height: 115px;
    display: flex;
    align-items: center;
    background: var(--none);
}

header img{
    width: 100px;
    position: absolute;
    left: 40px;
}

header nav{
    position: absolute;
    right: 40px;
}

header nav ul{
    display: flex;
    gap: 20px;
}

header nav ul li button{
    position: relative;
    background: var(--none);
    border: var(--none);
    font-size: 1.2rem;
    color: #fff;
}

header nav ul li button::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: #2f2fe4d3;
    left: 50%;
    transform: translateX(-50%);
    bottom: -3px;
    transition: 0.3s ease-in-out;
}

header nav ul li button:hover::after{
    width: 50%;
}

main{
    position: relative;
    height: calc(100vh - 115px);
}

main div#shapes{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

main div#shapes span.circle{
    position: absolute;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

main div#shapes span.circle:nth-child(1){
    height: 200px;
    width: 200px;
    top: 0;
    left: 10%;
}

main div#shapes span.circle:nth-child(2){
    height: 300px;
    width: 300px;
    top: 60%;
    left: 80%;
}

main div#shapes span.circle:nth-child(3){
    height: 150px;
    width: 150px;
    top: 70%;
    left: 15%;
}

main div#shapes span.circle:nth-child(4){
    height: 120px;
    width: 120px;
    top: 15%;
    left: 70%;
}

@keyframes pulse{
    0%{
        width: 300px;
        height: 300px;
    }

    100%{
        width: 400px;
        height: 400px;
    }
}

main div#shapes span.gradient{
    animation: infinite 8s pulse ease-in;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 0 0 50px 50px var(--gradientShape);
    background: var(--gradientShape);
    z-index: 1;
}

main div#arrowsControl{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

main div#arrowsControl button{
    width: 50px;
    height: 50px;
    margin: 0 20px;
    border-radius: 50%;
    border: 1px solid rgba(144, 151, 243, 0.5);
    font-size: 2rem;
    background: #040f3a;
    color: #fff;
    transition: background 0.2s ease-in-out;
}

main div#arrowsControl button:hover{
    background: #08086b;
}

main div#mainContents div.item{
    width: 75%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: calc(50% + 100px);
    transform: translate(-50%, -50%);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: left 0.4s ease-in-out, opacity 0.3s ease-in;
}

main div#mainContents div.item img{
    width: 200px;
    margin-right: 15px;
}

main div#mainContents div.item section h2{
    color: #0770da;
    text-transform: uppercase;
    font-size: 1.2rem;
}

main div#mainContents div.item section h1{
    width: 600px;
    line-height: 1;
    font-size: 2.5rem;
    color: #f2f1fa;
}

main div#mainContents div.item section p{
    margin-top: -15px;
    color: #adafb1;
    font-size: 1.2rem;
    width: 600px;
}

main div#mainContents div.item section button{
    margin-top: 10px;
    padding: 10px 20px;
    background: linear-gradient(45deg, #172046, #0606fcd3);
    border: var(--none);
    border-radius: 25px;
    color: #fff;
    font-size: 1.1rem;
    transition: box-shadow 0.2s ease;
}

main div#mainContents div.item section button:hover{
    box-shadow: 0 0 10px rgb(9, 21, 83);
}

main div#mainContents div.item.visible{
    left: 50%;
    display: flex;
}

@media screen and (max-width: 500px){
    header img{
        width: 65px;
        left: 20px;
    }

    header nav{
        right: 20px;
    }

    header nav ul{
        gap: 5px;
    }

    header nav ul li button{
        font-size: 0.8rem;
    }

    main div#mainContents div.item{
        width: 75%;
        flex-direction: column;
        text-align: center;
    }

    main div#mainContents div.item img{
        display: block;
        width: 180px;
        position: absolute;
    }

    main div#mainContents div.item section h2{
        position: relative;
        width: 100%;
        top: -90%;
        left: 50%;
        transform: translateX(-50%);
    }

    main div#mainContents div.item section h1{
        position: relative;
        width: 100%;
        top: -90%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.5rem;
    }

    main div#mainContents div.item section p{
        display: none;
    }

    main div#mainContents div.item section button{
        width: 75%;
        position: relative;
        top: 80%;
    }
}