*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}

html, body{
    background-color: #fefeff;
}

.container{
    height: 100%;
    width: 100%;
}

.container header{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.14);
    height: 105px;
    position:fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}

.container header img{
    height: 200px;
    position: absolute;
    left: 40px;
}

.container header nav ul{
    display: flex;
    gap: 20px;
}

.container header nav ul li a{
    color: #000;
}

.container header nav ul li a::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #0f0f;
    transition: width 0.3s;
}

.container header nav ul li a:hover::after{
    width: 75%;
    transition: all 0.3s;
}

.container header nav ul li a:focus{
    color: #000;
}

.container main{
    margin: auto 15%;
}

#Home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container main #Home #homeText{
    margin-top: 20vh;
}

.container main #Home #homeText h2{
    font-size: 30px;
}


.container main #Home #homeText h4{
    margin-top: 20px;
    margin-bottom: 50px;
}

.container main #Home #homeText a{
    margin-top: 30px;
    background-color: #00f;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: bolder;
    transition: ease 0.3s;
    box-shadow: 0 4 10px rgba(0,0,0,.14);
}

.container main #Home #homeText a:hover{
    background-color: #0a00ef;
}

.container main #Home #homeImg img{
    width: 390px;
    margin: 70px 40px;
    border-radius: 15px;
    margin-top: 200px;
}

.container main #About{
    text-align: center;
}

.container main #About .info{
    position: relative;
    display: inline-block;
}

.container main #About .info::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 75%;
    height: 2px;
    background-color: #00f;
}