@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Chorasmian&family=Orbitron:wght@400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    color: #fff;
    transition: all 0.5s;
}

html, body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Noto Sans Chorasmian", sans-serif;
    background: linear-gradient(180deg, rgb(17, 15, 15), rgb(109, 109, 109));

}

button{
    background: none;
    border: none;
    cursor: pointer;
}

i{
    border-radius: 50%;
}

main #inputData{
    display: flex;
    flex-direction: column;
    background: none;
}

main #inputData div{
    display: flex;
    gap: 35px;
}

main #inputData div input{
    width: 280px;
    color: #e2e2e2;
    background: none;
    border: none;
    font-family: "Orbitron", sans-serif;
    font-size: 10rem;
    text-align: center;
    cursor: pointer;
}

main #inputData button#startTimerButton{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 5rem;
}

main #inputData button#startTimerButton i{
    width: fit-content;
    color: #003ba8;
    background: #fff;
}

main #inputData button#startTimerButton i:hover{
    color: #1245ee;
}

main #timer{
    display: none;
}

main #timer div{
    display: flex;
    gap: 35px;
}

main #timer div span{
    font-family: "Orbitron", sans-serif;
    font-size: 10rem;
    color: #f5fcff;
}

main #timer #buttons{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
}

main #timer #buttons button{
    font-size: 5rem;
}

main #timer #buttons button#continue{
    display: none;
}

main #timer #buttons button#pause i{
    width: fit-content;
    color: #00a892;
    background: #fff;
}

main #timer #buttons button#pause i:hover{
    color: #0f79a3;
}

main #timer #buttons button#continue i{
    width: fit-content;
    color: #003ba8;
    background: #fff;
}

main #timer #buttons button#continue i:hover{
    color: #1245ee;
}

main #timer #buttons button#reset i{
    color: #d3d3d3;
}