@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

html, body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
}

input{
    width: 300px;
    padding: 10px 15px;
    margin-bottom: 10px;
    cursor: pointer;
    background: #fff;
    border-radius: 8px;
    border: none;
    font-weight: bolder;
    font-size: 1.5rem;
}

input::placeholder{
    text-align: end;
}

button{
    cursor: pointer;
    border: none;
    font-weight: bold;
}

main div{
    padding: 25px 30px;
    background: #f4f4f4;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 20px;
}

main div#page1{
    display: flex;
    flex-direction: column;
}

main div#page1 h1{
    text-align: center;
    margin-bottom: 20px;
}

main div#page1 button{
    height: 45px;
    margin-top: 15px;
    border-radius: 8px;
    background: #0f66f6;
    color: #fff;
    font-size: 1.2rem;
}

main div#page2{
    display: none;
}

main div#page2 p#loading{
    cursor: default;
    font-size: 1.5rem;
    font-weight: bold;
}

main div#page2 #resultPage{
    text-align: center;
    background: none;
    box-shadow: none;
    display: none;
}