@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    transition: all 0.4s;
    font-family: helvetica, arial, serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    height: 55%;
    background-color: #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.14);
    border-radius: 15px;
}

main #result{
    width: 145px;
    margin-bottom: 30px;
}

main button#play{
    cursor: pointer;
    background: #00f;
    box-shadow: 0 0 14px 4px rgba(0,0,0,0.14);
    color: #fff;
    font-weight: bolder;
    font-size: 1.5rem;
    padding: 10px 35px;
    border-radius: 8px;
    transition: ease-in 0.3s;
}

main button#play:hover{
    background: rgb(0, 0, 235);
}

main img#facePoint{
    width: 100px;
    position: absolute;
    top: 25%;
    left: 25px;
}

main #points #face #pointsFace{
    font-size: 3rem;
    font-weight: bold;
    position: absolute;
    top: 28%;
    left: 165px;
}

main img#crownPoint{
    width: 100px;
    position: absolute;
    top: 50%;
    left: 25px;
}


main #points #crown #pointsCrown{
    font-size: 3rem;
    font-weight: bold;
    position: absolute;
    top: 53%;
    left: 165px;
}

main #credits{
    background: #757575;
    padding: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: absolute;
    right: 25px;
    bottom: 5%;
    border-radius: 25px;
}

main #credits:hover{
    background: #656565;
}

main #credits h5{
    color: #fff;
    font-size: 1.5rem;
    margin: 10px;
    font-family: "JetBrains Mono", monospace;
}

main #credits #mano-manooi{
    width: 60px;
}