@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: "Montserrat", serif;
    transition: all 0.5s;
}

button{
    background: none;
    border: none;
    cursor: pointer;
}

button.darkMode{
    color: #fff;
}

header{
    position: fixed;
    width: 100%;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header.darkMode{
    background: #000;
    color: #fff;
}

header.lightMode{
    background: #fff;
    color: #000;
}

header #creditsManoManooI{
    position: absolute;
    left: 40px;
}

header #creditsManoManooI h5{
    font-weight: bold;
    font-size: 1.15rem;
}

header #creditsManoManooI h6{
    font-size: 1.2rem;
    font-weight: 400;
}

header #navigation{
    display: flex;
    gap: 80px;
}

header #navigation button{
    font-size: 1.35rem;
    font-weight: bold
}

header #toggleColor{
    position: absolute;
    right: 40px;
    padding: 5px 35px;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    transition: ease-in 0.2;
}

header #toggleColor.darkMode{
    background: #0018ff;
    color: #fff;
}

header #toggleColor.lightMode{
    background: #ffe600;
    color: #000;
}


header #toggleColor.darkMode:hover{
    background: #e0e0e0;
    color: #f8aa00;
}

header #toggleColor.lightMode:hover{
    background: #1f1f1f;
    color: #949494;
}