@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    transition: all 0.5s;
    font-family: "Poppins", serif;
}

body, html{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    position: fixed;
    width: 75%;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin: 15px 0 0 0;
    background: rgb(235, 235, 255);
    z-index: 1000;
}

header nav#menu ul{
    display: flex;
}

header nav#menu ul li{
    background: none;
    padding: 25px;
}

header nav#menu ul li button{
    background: none;
    font-weight: bold;
    font-family: "Roboto", serif;
    border: none;
    font-size: 1.3rem;
    color: #353535;
    cursor: pointer;
}

header nav#menu ul li button .fa-solid, .fa-brands{
    font-size: 1.7rem;
}

header nav#menu ul li button .fa-house:hover{
    color: #0080bb;
}

header nav#menu ul li button .fa-circle-info:hover{
    color: #ff9100;
}

header nav#menu ul li button .fa-briefcase:hover{
    color: #f22743;
}

header nav#menu ul li button .fa-square-whatsapp:hover{
    color: #25D366;
}

hr{
    margin: 45px 0 0 0;
    transform: translateX(50%);
    font-weight: bolder;
    width: 50%;
    height: 5px;
    background: #333;
    border: none;
    border-radius: 5px;
}

main{
    width: 100%;
    height: 100vh;
}

main #start{
    background: rgb(235, 235, 255);
    border-radius: 75px;
    display: flex;
}

main #start div{
    margin: 135px 35px 0 35px;
}

main #start div h2{
    margin: 15px 0;
    font-size: 1.8rem;
}

main #start div h5{
    font-size: 1.05rem;
    font-weight: 600;
    width: 835px;
}

main #start div button#findOutMore{
    background: #045fff;
    border: none;
    border-radius: 10px;
    margin: 25px 0;
    padding: 15px 25px;
    color: #fff;
    font-weight: bold;
    font-size: "Roboto", serif;
    cursor: pointer;
}

main #start img{
    width: 550px;
}