*{
    margin: 0;
    padding: 0;
}

header{
    background: red;
    box-shadow: 0 4px 14px rgba(0,0,0,0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95px;
}

header img#logo{
    position: absolute;
    left: 15px;
    width: 80px;
}

header nav#menu ul{
    display: flex;
}

header nav#menu ul li button{
    background: none;
    border: none;
    cursor: pointer;
    margin: 25px;
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
}