@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: "Montserrat", serif;
    transition: all 0.5s;
}

body.darkMode{
    background: #000;
    color: #fff;
}

body.lightMode{
    background: #fff;
    color: #000;
}

button{
    background: none;
    border: none;
    cursor: pointer;
}

button.darkMode{
    color: #fff;
}

button.lightMode{
    color: #000;
}

header{
    top: 0;
    position: fixed;
    width: 100%;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.10);
    z-index: 2000;
}

header.darkMode{
    background: #000;
    color: #fff;
}

header.lightMode{
    background: #fff;
    color: #000;
}

header #creditsManoManooI{
    position: absolute;
    left: 40px;
    cursor: default;
}

header #creditsManoManooI h5{
    font-weight: bold;
    font-size: 1.15rem;
}

header #creditsManoManooI h6{
    font-size: 1.2rem;
    font-weight: 400;
}

header #navigation{
    display: flex;
    gap: 80px;
}

header #navigation button{
    font-size: 1.35rem;
    font-weight: bold
}

header #toggleColor{
    position: absolute;
    right: 40px;
    padding: 5px 35px;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    transition: ease-in 0.2;
}

header #toggleColor.darkMode{
    background: #e0e0e0;
    color: #0018ff;
}

header #toggleColor.lightMode{
    background: #1f1f1f;
    color: #f8aa00;
}


header #toggleColor.darkMode:hover{
    color: #f8aa00;
}

header #toggleColor.lightMode:hover{
    color: #0018ff;
}

main{
    margin-top: 95px;
    padding: 15px 0 0 0;
}

main #start{
    display: flex;
    align-items: center;
}

main #start img{
    width: 38%;
    position: absolute;
    left: -85px;
    top: 115px;
}

main #start #startText{
    position: absolute;
    top: 140px;
    left: 32%;
}

main #start #startText h2{
    font-size: 5rem;
    font-weight: 350;
}

main #start #startText h1{
    margin-top: -30px;
    font-size: 5.4rem;
}

main #start #startText p{
    width: 90%;
    font-size: 1.5rem;
    font-weight: 350;
    font-family: "Roboto", serif;
    margin-left: 55px;
}

main #start #findOutMore{
    display: flex;
    position: absolute;
    top: 73%;
    left: 33%;
}

main #start #findOutMore.darkMode button#toTalk, main #start #findOutMore.darkMode i{
    color: #fff;
}

main #start #findOutMore.lightMode button#toTalk, main #start #findOutMore.lightMode i{
    color: #000;
}

main #start #findOutMore button#toTalk{
    padding: 5px 20px;
    margin-right: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
}

main #start #findOutMore.darkMode button#toTalk{
    background: #00f;
}

main #start #findOutMore.lightMode button#toTalk{
    background: #ff0;
}

main #start #findOutMore.darkMode button#toTalk:hover{
    background: rgb(13, 13, 199);
}

main #start #findOutMore.lightMode button#toTalk:hover{
    background: rgb(226, 226, 5);
}

main #start #findOutMore i{
    padding: 8px 5px;
    margin-left: 10px;
    font-size: 2rem;
    border-radius: 5px;
    transition: ease-in 0.3s;
}

main #start #findOutMore.darkMode i{
    background: #3a3a3a56;
}

main #start #findOutMore.lightMode i{
    background: #9b9b9b4d;
}

main #start #findOutMore i.fa-linkedin-in:hover{
    color: #fff;
    background: #0A66C2;
}

main #start #findOutMore i.fa-github:hover{
    color: #fff;
    background: #5f6266;
}

main #about{
    margin-top: 550px;
    background: red;
}

main #about img{
    width: 250px;
}