@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background: none;
    font-family: "Roboto", serif;
    transition: all 0.5s;
}

html, body{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#register{
    display: flex;
    flex-direction: column;
    background: #f2f2f2;
    padding: 28px;
    border-radius: 20px;
    box-shadow: 0 0 14px rgba(0,0,0,0.14);
}

#register h1{
    font-size: 2.3rem;
    margin-bottom: 15px;
}

#register input{
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 20px;
    background: #fff;
    font-size: 0.9rem;
    font-weight: bold;
}

#register button{
    cursor: pointer;
    font-size: 0.9rem;
}

#register #possibility{
    margin: 10px 0 15px 0;
}

#register #possibility:hover{
    text-decoration: underline;
}

#register #enterAccount{
    background: #02ff;
    color: #fff;
    padding: 5px;
    font-weight: bold;
    border-radius: 10px;
}

#register #enterAccount:hover{
    background: rgb(13, 39, 207)
}