@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Chorasmian&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    font-family: "Noto-Sans", sans-serif;
    transition: all 0.5s ease;
}

html, body{
    scroll-behavior: smooth;
    background: #FEF8EC;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

button{
    background: none;
    border: none;
    cursor: pointer;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background: #FFFFFE;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 40px 40px;
    z-index: 2000;
}

@keyframes pulsar{
    0%{
        transform: scale(1);
    }

    70%{
        transform: scale(1.05);
    }

    100%{
        transform: scale(1);
    }
}

header img#logo{
    width: 100px;
    position: absolute;
    left: 10px;
    animation: pulsar 1s infinite;
    cursor: pointer;
    z-index: 2001;
}

header nav#desktopMenu{
    position: absolute;
    right: 20px;
    display: flex;
    gap: 40px;
}

header nav#desktopMenu ul{
    display: flex;
    gap: 30px;
    align-items: center;
}

header nav#desktopMenu ul li button{
    font-size: 1.3rem;
    color: #272343;
    font-weight: 530;
}

header nav#desktopMenu ul li button:hover{
    color: #FF5F00;
}

button#orderButton{
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1.3rem;
    font-weight: 500;
    transition: box-shadow 0.3 ease-in;
}

button#orderButton.order1{
    background: linear-gradient(140deg, #FFC300, #FF5F00);
    box-shadow: 0px 0px 5px #f75d04;
    color: #FFFFFE;
}

button#orderButton.order1:hover{
    box-shadow: 0px 0px 10px #f75d04;
}

button#orderButton.order2{
    background: #e2e1de;
    box-shadow: 0px 0px 5px #200c00;
    color: #040400;
}

button#orderButton.order2:hover{
    background: #353433;
    color: #f3ffff;
}

#mobileMenuButton, nav#mobileMenu{
    display: none;
}

main{
    margin-top: 120px;
    min-height: calc(100vh - 120px);
    padding: 0 20px;
    flex: 1;
}

main #start{
    height: fit-content;
    display: flex;
    flex-direction: column;
}

main #start #orderButtons{
    margin-top: 35px;
    display: flex;
    gap: 20px;
}

main #start #info{
    width: fit-content;
    margin-bottom: 20px;
    padding: 10px 15px;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 550;
    background: #FEF6D2;
    color: #FF5E00;
    cursor: default;
}

main #start #info i{
    margin-right: 10px;
}

main #start #title h1{
    font-size: 6rem;
    font-weight: 700
}

main #start #title h1#title2{
    margin-top: -20px;
    background: linear-gradient(135deg, #FFC400, #FF6E00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

main #start #title p{
    width: 50%;
    margin-top: 20px;
    color: #575757;
    font-size: 1.35rem;
    font-weight: 400;
}

main #start #assessment{
    width: fit-content;
    margin-top: 50px;
    display: flex;
    gap: 20px;
    text-align: center;
    cursor: default;
}

main #start #assessment h4{
    font-size: 1.4rem;
    font-weight: 750;
    color: #FF5E00;
}

main #start #assessment h4 i{
    color: #FFC400;
}

main #start #assessment h5{
    font-size: 1.1rem;
    font-weight: 500;
    color: #6b6b6b;
}

main #start #assessment hr{
    width: 2px;
    border: none;
    box-shadow: 0px 0px 4px rgb(255, 102, 0);
    background: #f17611;
}

main #start img{
    width: 450px;
    position: absolute;
    right: 45px;
    top: 350px;
    transform: translateY(-50%);
    box-shadow: -15px 9.5px 5px rgb(255, 229, 177);
    border-radius: 120px 75px 38px 260px;
}

footer{
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111827;
    color: #fff;
}

footer p{
    font-weight: 600;
    font-size: 1.35rem;
}

footer #credits{
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

footer #credits img{
    width: 70px;
    border-radius: 50%;
    box-shadow: 0 0 15px rgb(179, 179, 179);
}

footer #credits img:hover{
    box-shadow: 0 0 16.5px rgb(247, 238, 220);
}