@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Chorasmian&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    font-family: "Noto-Sans", sans-serif;
    transition: all 0.5s ease;
}

html, body{
    scroll-behavior: smooth;
    background: #f1f0f1f0;
}

button{
    background: none;
    border: none;
    cursor: pointer;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background: #f6f8f6;
    z-index: 1000;
}

@keyframes pulsar{
    0%{
        transform: scale(1);
    }

    70%{
        transform: scale(1.05);
    }

    100%{
        transform: scale(1);
    }
}

header img#logo{
    width: 100px;
    position: absolute;
    left: 10px;
    animation: pulsar 1s infinite;
}

header nav#pcMenu ul{
    display: flex;
    gap: 45px;
}

header nav#pcMenu ul li button{
    font-size: 1.4rem;
    font-weight: 750;
}

header button.order{
    padding: 10px 15px;
    position: absolute;
    right: 25px;
    border-radius: 30px 10px;
    background: #FFC300;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    color: #131312;
    font-size: 1rem;
    font-weight: 600;
}

header button.order:hover{
    background: #ffc400d5;
}

header nav#mobileMenu ul{
    display: none;
    gap: 25px;
    margin-right: 20px;
}

header nav#mobileMenu ul li button.styleActive{
    border-bottom: 3.5px solid #FFC300;
}

main{
    margin-top: 95px;
    min-height: calc(100vh - 95px);
}

main #start{
    padding: 0 35px;
    margin-top: 200px;
}

main #start #title{
    cursor: default;
    width: 50%;
}

main #start #title h2{
    font-size: 2rem;
    color: #2b2101;
}

main #start #title h2 strong{
    color: #F5A858;
}

main #start #title p{
    width: 90%;
    margin-top: 10px;
    font-size: 1.2rem;
}

main #start #forOrders{
    margin-top: 35px;
    display: flex;
    gap: 20px;
}

main #start #forOrders button{
    padding: 10px 15px;
    background-color: #FECD29;
    color: #131312;
    box-shadow: 0 0 12px 4px rgba(0,0,0,0.1);
    border-radius: 10px;
    font-weight: 600;
    font-size: 1rem;
    transition: box-shadow 0.3s ease-in;
}

main #start #forOrders button:hover{
    box-shadow: 0 0 12px 8px rgba(0,0,0,0.1);
}

main #start #forOrders button.order{
    border-radius: 10px 30px;
}

main #start #forOrders button#contact i{
    padding: 5px;
    border-radius: 5px;
    background: #19cf10;
    color: #f4f4f4;
}

@media screen and (max-width: 600px){
    header{
        height: 55px;
        justify-content: space-between;
    }

    header img#logo{
        width: 50px;
    }

    header button.order{
        display: none;
    }

    header nav#pcMenu ul{
        display: none;
    }

    header nav#mobileMenu ul{
        display: flex;
    }

}
