@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@keyframes pulseCircle{
    0%{

    }
    50%{

    }
    100%{
        
    }
}
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #000;
    background-image:
        radial-gradient(circle at bottom left, rgba(0, 208, 255, 0.3) 0%, transparent 40%),
        radial-gradient(circle at top right, rgba(0, 168, 150, 0.3) 0%, transparent 40%),
        linear-gradient(rgba(255, 255, 255, 0.02) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.02) 1px, transparent 1px);

    /* Configuração do tamanho dos quadrados da grade */
    background-size: 100% 100%, 100% 100%, 40px 40px, 40px 40px;
}

button{
    cursor: pointer;
    border: none;
}

main {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main div#shapes{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

main div#shapes span#grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div#calculator{
    padding: 25px;
    background: #151A22;
    border: 2px solid #1E2530;
    border-radius: 25px;
    z-index: 1;
}

main div#visor{
    width: 280px;
    height: 80px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: right;
    background: #141920;
    border: 0.5px solid #1E2530;
    border-radius: 20px;
    font-weight: bolder;
}

main div#visor span#visorText{
    margin-right: 10px;
    margin-bottom: -20px;
    color: #fff;
    font-size: 2rem;
}

main div#visor span#dataVision{
    position: absolute;
    top: 105px;
    left: 550px;
    color: #bebebe;
    font-size: 1rem;
}

main div#keyboard section button{
    width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bolder;
    transition: all 0.2s ease-in-out;
}

main div#keyboard section button.style1{
    background: rgb(37, 37, 37);
    color: #fff;
}

main div#keyboard section button.style1[value="0"]{
    width: 134px;
}

main div#keyboard section button.style1:hover{
    background: rgb(48, 48, 48);
}

main div#keyboard section button.style2{
    background: rgb(25, 209, 195);
    color: #222;
}

main div#keyboard section button.style2:hover{
    background: rgb(13, 165, 152);
}