@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    font-family: "Roboto", serif;
    font-weight: bolder;
    transition: all 0.5s;
}

html, body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    padding: 25px;
    background: #888;
    border-radius: 25px;
    box-shadow: 0 0 8px rgba(0,0,0.14);
}

span#visor{
    display: block;
    box-sizing: border-box;
    padding: 10px 25px;
    margin-bottom: 15px;
    background: #fff;
    border: 1px solid #777;
    border-radius: 25px;
    font-size: 2rem;
    text-align: right;
}

button{
    padding: 5px 10px;
    margin: 3px;
    width: 55px;
    height: 55px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1.5rem;
    color: #fff;
}

#buttonsSection .type1{
    background: #f00;
}

#buttonsSection .type2{
    background: #4545;
}

#buttonsSection .type3{
    background: rgb(0, 143, 199);
}

#buttonsSection .type1:hover{
    background: rgb(224, 6, 6);
}

#buttonsSection .type2:hover{
    background: rgba(37, 44, 37, 0.37);
}

#buttonsSection .type3:hover{
    background: rgb(3, 119, 165);
}