@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    font-family: "Roboto", serif;
}

html, body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    background: #7c7b7b;
    padding: 35px 25px 25px 25px;
    border-radius: 25px;
}

span#visor{
    background: #f9f9f9;
    border: 1px solid #777;
    border-radius: 15px;
    padding: 15px 20px;
    font-size: 2rem;
    font-family: "Rajdhani", sans-serif;
    text-align: right;
    display: block;
}

#buttonsSection{
    margin-top: 21px;
    background: #f4f4f4;
    border: 1px solid #777;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#buttonsSection button{
    cursor: pointer;
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
}

#buttonsSection .specialCharacter1{
    background: #f12f;
}

#buttonsSection .specialCharacter2{
    background: #3b3b3b;
}

#buttonsSection .specialCharacter3{
    background: #1437d3;
}

#buttonsSection .specialCharacter4{
    background: #0aa11e;
}

#buttonsSection .number{
    background: #3b3b3b;
}